* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.container {
  margin: 0 auto;
  border: solid 1px black;
  height: 500px;
  width: 300px;
}

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(20, 129, 231);
  text-shadow: 1px 1px 2px #333;
  font-size: 36px;
}

.header-wrapper {
  background-color: #fff;
  padding: 10px;
}